<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="Default-group" />
				<exclude name="Basic-group" />
				<include name="Advanced-group" />
			</run>
		</groups>
		<classes>
			<class name="com.qait.TatoctestNg.Testclass" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
